.t{
  background: red;
}
.t1 {
  display: none;
}
.t2 {
  visibility: hidden;
}
.t3 {
  height: 0;
  overflow: hidden;
}
.t4 {
  opacity: 0;
}
.t5 {
  transform: scale(0);
}
.t6 {
  clip-path: inset(100%);
}
.t7 {
  position: absolute;
  top: -9999px;
}

.t8 {
  text-indent: -9999px;
}
.t9 {
  font-size: 0;
}
.t10 {
  color: red;
}